body {
    margin: 20px;
}

h1 {
    margin-bottom: 15px;
    font-size: 16px;
}

#app-header {
    text-align: center;
    font-family: Helvetica Neue, sans-serif;
    background-color: #fff;
}

#app-center .x-panel-header {
    font-size: 13px;
    text-align: center;
    padding-left: 214px;
    font-family: Helvetica Neue, Arial, sans-serif;
    color: #455C6F;
}

#app-center.simplified .x-panel-header {
    padding-left: 10px;
}

#app-west {
    border-right: 1px solid #99BBE8;
}

#app-west .x-panel-body {
    background: #D0DEF0;
}

#app-header h1 {
    float: left;
    margin: 8px 5px 8px 0;
    font-size: 16px;
    font-weight: 300;
    color: #455C6F;
}

#app-logo {
    float: left;
    margin: 6px 10px 0;
    width: 30px;
}

#app-logo .logo-top,
#app-logo .logo-bottom {
    height: 0;
    font-size: 0;
    line-height: 0;
    padding: 0;
    overflow: hidden;
    margin: 0 1px;
    border: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #9F2727;
}

.x-ie #app-logo .logo-top {
    margin-bottom: -1px;
}

.ext-border-box #app-logo .logo-top,
.ext-border-box #app-logo .logo-bottom {
    height: 1px;
}

#logo-body {
    margin: 0;
    text-align: center;
    overflow: hidden;
    border-width: 3px 1px 0;
    border-style: solid;
    border-color: #9F2727;
    background: #fff;
    font-weight: bold;
    padding: 1px 0 2px;
    font-size: 18px;
    line-height: 18px;
    color: #9F2727;
}

.x-window-header-default .x-tool-close,
.x-panel-header .x-tool-close {
    float: right;
}

.ext-evt-edit-form .x-header-text {
    color: #555;
}

.room-tabs .x-header {
    background-color: transparent;
}

.room-tabs .x-tab {
    padding: 8px 6px 7px;
}

.room-tabs .x-panel-body {
    display: none;
}

.room-tabs .x-tab-bar-body-default-top {
    padding-bottom: 0;
}

.room-tab-icon {
    display: block;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    line-height: 16px;
}

#app-center_header {
    background-color: #add2ed;
}

#app-center_header .x-panel-header-text-container-default {
    color: #157fcc;
}

.user-name {
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
}

.is-hidden-true {
    display: none;
}

.ext-owner-icon {
    display: block;
    vertical-align: top;
    width: 12px;
    height: 12px;
    float: left;
    margin: 0 3px 0 0;
    padding: 0;
    background-image: url(../images/star.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    font-size: 0;
    line-height: 0;
}

.x-tab .icon-view {
    background-image: url(../images/preview.png);
    background-position: 0 1px;
    background-repeat: no-repeat;
}

.x-tab-active .icon-view {
    background-position: 0 -25px;
}

.meeting-preview {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.meeting-preview th,
.meeting-preview td {
    font-size: 12px;
}

.meeting-preview thead {}

.meeting-preview thead th {
    width: 256px;
    height: 16px;
    padding: 8px 4px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    line-height: 16px;
}

.meeting-preview thead th.first {
    width: 90px;
    border-left: none;
    border-right: none;
    background-color: #d3e1f1;
    color: #50749c;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
}

.meeting-preview thead th:last-child,
.meeting-preview tbody td:last-child {
    border-right: none;
}

.meeting-preview .room-tab-icon {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 0 0;
}

.meeting-preview tbody {}

.meeting-preview tbody td {
    position: relative;
    padding: 0;
    border: 1px solid #ddd;
    vertical-align: top;
}

.meeting-preview tbody td.first {
    height: 48px;
    padding: 4px;
    border-left: none;
    border-right: none;
    background-color: #f6f9fc;
    color: #666;
    text-align: right;
    vertical-align: top;
}

.meeting-preview-event-separator {
    position: absolute;
    width: 100%;
    height: 0;
    top: 24px;
    left: 0;
    border-top: 1px dotted #dfdfdf;
}

.meeting-preview-event {
    width: 100%;
    height: 48px;
    position: absolute;
    z-index: 10;
    padding: 3px 5px;
    background-color: #3892d7;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
}